.badge {
    background: navy;
}
#AboutMeBox {
    margin: 150px 20px 100px 20px;
    background: white;
    padding: 20px;
    float: left;
}

img {
    margin: 0 20px 0 0;
    float: left;
}

body {
    background: palegreen;
}

