#ContactBox {
    margin: 150px 20px 100px 20px;
    background-color: #36454f;
    color: white;
    padding: 20px; 
    border-color: rgb(219, 219, 219);
    border-style: solid;
    border-radius: 60px;
}

#SocialMedia {
    margin: 150px 20px 100px 20px;
    background-color: #36454f;
    color: white;
    padding: 20px; 
    border-color: rgb(219, 219, 219);
    border-style: solid;
    border-radius: 60px;
}

body {
    background: rgb(163, 173, 163);
}


#PortfolioBox {
    margin: 150px 0 100px 0;
    background-color: #36454f;
    color: white;
    padding: 20px;
    border-color: rgb(219, 219, 219);
    border-style: solid;
    border-radius: 60px;
    
}

img {
    margin: 20px;
}

#AboutMeBox {
    margin: 150px 20px 100px 20px;
    background-color: #36454f;
    color: white;
    padding: 20px;
    border-radius: 60px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
}

.navbar-inverse {
    background: #36454f;
    color: white;
}

.navbar-inverse .navbar-brand,
.navbar-inverse a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
    position: fixed;
    Width: 100%;
    bottom: 0;
}